<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body ">
        <div class="d-flex justify-content-between animated fadeIn fast">
          <div class="titulos-tabla">
            <h4 class="card-title">Lista de mineros RUIM</h4>
            <h6 class="card-subtitle">Sistema de control y fiscalización</h6>
          </div>
          <!-- btn-crear-nuevos-mineros RUIM -->
          <div class="btn-crear-usuario mb-2 mb-lg-0">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal_crear_ruim"
              (click)="this.borrarFormulario(formDirective)"><i class=" fa fa-user-plus"></i> Crear minero RUIM</button>
          </div>
        </div>

        <!-- Buscar -->
        <mat-form-field class="example-full-width mt-3">
          <mat-label>Buscar</mat-label>
          <input matInput placeholder="Ingrese su busqueda" [(ngModel)]="this.searchTerm" #texto
            (keyup)="searchTerm$.next(texto.value)">
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>

        <!-- Loading -->
        <div *ngIf="this.cargando" class="row animated fadeIn fast">
          <div class="col-12">
            <div class="alert alert-secondary text-center">
              <h4 class="alert-heading">Cargando</h4>
              <i class="fa fa-spin fa-refresh fa-2x"></i>
              <p class="mb-0">Por favor espere</p>
            </div>
          </div>
        </div>

        <!-- Tabla de datos -->
        <div *ngIf="!this.cargando" class="fadeIn fast table-shadow">
          <div class="table-responsive">
            <table class="table">
              <thead class="table-header">
                <tr class="table-header__encabezado">
                  <th style="width: 2%;">Codigo</th>
                  <th>Nro. id. minera</th>
                  <th>Sector</th>
                  <th>Actividad</th>
                  <th style="width: 110px;">Rep. Legal</th>
                  <th>municipio</th>
                  <th style="width: 120px;">Fecha registro</th>
                  <th style="width: 150px;">Fecha expiración</th>
                  <th style="width: 120px;">Estado</th>
                  <th style="width: 150px;">Acciones</th>
                </tr>
              </thead>
              <tbody class="table-cuerpo">
                <tr
                  *ngFor="let item of this.dataRuims | paginate: { itemsPerPage: this.per_page, currentPage: this.p, totalItems:this.total, id: 'paginate_one' }"
                  class=" table-cuerpo__datos">
                  <td>{{ item.id }}</td>
                  <td>{{ item.nro_id_mineria }}</td>
                  <td>{{ item.sector }}</td>
                  <td>{{ item.actividad }}</td>
                  <td>{{ item.rep_legal }}</td>
                  <td>{{ item.municipio }}</td>

                  <!-- Se aumento -->
                  <td>{{ item.fecha_registro }}</td>
                  <td>{{ item.fecha_expiracion }}</td>

                  <td>
                    <span *ngIf="item.estado === 'habilitado'; else notHabilitado"
                      class="p-1 bg-success text-white border rounded">{{item.estado}}</span>
                    <ng-template #notHabilitado>
                      <span class="p-1 bg-danger text-white border rounded">{{item.estado}}</span>
                    </ng-template>
                  </td>
                  <td>
                    <a class="text-warning btn-margen" mat-icon-button matTooltip="Editar datos"
                      matTooltipPosition="left" (click)="this.modificarRuims(item.id!)">
                      <mat-icon>edit</mat-icon>
                    </a>

                    <a class="text-danger" mat-icon-button matTooltip="Dar de baja" matTooltipPosition="right"
                      (click)="this.destroyRuim(item.id!,item.nro_id_mineria,item.sector,item.estado)">
                      <mat-icon>delete_outline</mat-icon>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
            <!-- Paginación de datos -->
            <hr>
            <div class="paginacion d-flex flex-nowrap justify-content-end pr-3">
              <pagination-controls class="my-pagination" (pageChange)="this.pageChange($event)" previousLabel="Anterior"
                nextLabel="Siguiente" [maxSize]="this.per_page" id="paginate_one">
              </pagination-controls>
              <p class="pt-1 paginacion__cantitems">Items: {{ this.total }}</p>
            </div>
          </div>
        </div>
        <!-- FIN Tabla de datos -->

      </div>
    </div>
  </div>
</div>

<!-- Modal crear RUIMS -->
<div class="card">
  <div class="card-body">
    <!-- sample modal content -->
    <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" style="display: none;"
      aria-hidden="true" id="myModal_crear_ruim">

      <form #formDirective="ngForm" [formGroup]="this.formulario" class="ps-4 pt-4 pe-4 pb-0" (ngSubmit)="submit()">
        <div class="modal-dialog modal-xl">
          <div class="modal-content">
            <div class="modal-header bg-primary contenedor-header">
              <h4 class="modal-title text-white text-uppercase" id="myLargeModalLabel">Formulario de registro para
                mineros RUIM</h4>
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
              <h4 class="mb-4">Registro unico de identificación minera</h4>
              <!-- Seccion 1 -->
              <div class="row">
                <!-- Nro. identificacion minera -->
                <div class="col-12 col-lg-4">
                  <p class="mb-0">Nro. id. minera:<span class="text-danger">*</span></p>
                  <mat-form-field class="example-full-width" appearance="outline">

                    <input type="text" matInput formControlName="nro_id_mineria" autocomplete="off" spellcheck="false"
                      placeholder="Ingrese nro. de identificación minera">

                    <!-- Validacion -->
                    <!-- Preguntamos si es invalido y si esta sucio o a sido tocado -->
                    <mat-hint
                      *ngIf="this.nro_id_mineria?.invalid && (this.nro_id_mineria?.dirty || this.nro_id_mineria?.touched)">
                      <!-- Errores con expresiones regulares -->
                      <div *ngIf="this.nro_id_mineria?.hasError('required')" class="animated fadeIn fast text-danger"
                        id="">
                        Este campo es requerido.
                      </div>
                      <div *ngIf="this.nro_id_mineria?.hasError('maxlength')" class="animated fadeIn fast text-danger"
                        id="">
                        Este campo solo acepta solo 20 letras.
                      </div>
                    </mat-hint>
                  </mat-form-field>
                </div>

                <!-- Sector -->
                <div class="col-12 col-lg-4">
                  <p class="mb-0">Sector:<span class="text-danger">*</span></p>
                  <mat-form-field class="example-full-width" appearance="outline">

                    <input type="text" matInput formControlName="sector" autocomplete="off" spellcheck="false"
                      placeholder="Ingrese la denominación de la empresa">

                    <!-- Validacion -->
                    <!-- Preguntamos si es invalido y si esta sucio o a sido tocado -->
                    <!-- Validacion -->
                    <!-- Preguntamos si es invalido y si esta sucio o a sido tocado -->
                    <mat-hint *ngIf="this.sector?.invalid && (this.sector?.dirty || this.sector?.touched)">
                      <!-- Errores con expresiones regulares -->
                      <div *ngIf="this.sector?.hasError('required')" class="animated fadeIn fast text-danger" id="">
                        Este campo es requerido.
                      </div>
                      <div *ngIf="this.sector?.hasError('pattern')" class="animated fadeIn fast text-danger" id="">
                        Este campo solo acepta letras.
                      </div>
                      <div *ngIf="this.sector?.hasError('maxlength')" class="animated fadeIn fast text-danger" id="">
                        Este campo solo acepta solo 50 letras.
                      </div>
                    </mat-hint>
                  </mat-form-field>
                </div>


                <!-- Actividad -->
                <div class="col-12 col-lg-4">
                  <p class="mb-0">Actividad:<span class="text-danger">*</span></p>
                  <mat-form-field class="example-full-width" appearance="outline">

                    <input type="text" matInput formControlName="actividad" autocomplete="off" spellcheck="false"
                      placeholder="Ingrese la actividad de la empresa">

                    <!-- Validacion -->
                    <!-- Preguntamos si es invalido y si esta sucio o a sido tocado -->
                    <!-- Validacion -->
                    <!-- Preguntamos si es invalido y si esta sucio o a sido tocado -->
                    <mat-hint *ngIf="this.actividad?.invalid && (this.actividad?.dirty || this.actividad?.touched)">
                      <!-- Errores con expresiones regulares -->
                      <div *ngIf="this.actividad?.hasError('required')" class="animated fadeIn fast text-danger" id="">
                        Este campo es requerido.
                      </div>
                      <div *ngIf="this.actividad?.hasError('maxlength')" class="animated fadeIn fast text-danger" id="">
                        Este campo solo acepta solo 70 letras.
                      </div>
                    </mat-hint>
                  </mat-form-field>
                </div>
              </div>
              <!-- Seccion 2 -->
              <div class="row">
                <!-- Representante legal -->
                <div class="col-12 col-lg-4">
                  <p class="mb-0">Representante legal:<span class="text-danger">*</span></p>
                  <mat-form-field class="example-full-width" appearance="outline">

                    <input type="text" matInput formControlName="rep_legal" autocomplete="off" spellcheck="false"
                      placeholder="Ingrese un rep. legal">

                    <!-- Validacion -->
                    <!-- Preguntamos si es invalido y si esta sucio o a sido tocado -->
                    <mat-hint *ngIf="this.rep_legal?.invalid && (this.rep_legal?.dirty || this.rep_legal?.touched)">
                      <!-- Errores con expresiones regulares -->
                      <div *ngIf="this.rep_legal?.hasError('required')" class="animated fadeIn fast text-danger" id="">
                        Este campo es requerido.
                      </div>
                      <div *ngIf="this.rep_legal?.hasError('pattern')" class="animated fadeIn fast text-danger" id="">
                        Este campo solo acepta letras.
                      </div>
                      <div *ngIf="this.rep_legal?.hasError('maxlength')" class="animated fadeIn fast text-danger" id="">
                        Este campo solo acepta solo 12 digitos.
                      </div>
                    </mat-hint>
                  </mat-form-field>
                </div>

                <!-- Municipio -->
                <div class="col-12 col-lg-4">
                  <p class="mb-0">Municipio:<span class="text-danger">*</span></p>
                  <mat-form-field class="example-full-width" appearance="outline">

                    <input type="text" matInput formControlName="municipio" autocomplete="off" spellcheck="false"
                      placeholder="Ingrese municipio">

                    <!-- Validacion -->
                    <!-- Preguntamos si es invalido y si esta sucio o a sido tocado -->
                    <mat-hint *ngIf="this.municipio?.invalid && (this.municipio?.dirty || this.municipio?.touched)">
                      <!-- Errores con expresiones regulares -->
                      <div *ngIf="this.municipio?.hasError('required')" class="animated fadeIn fast text-danger" id="">
                        Este campo es requerido.
                      </div>

                    </mat-hint>
                  </mat-form-field>
                </div>

                <!-- Fecha registro -->
                <div class="col-12 col-lg-4">
                  <p class="mb-0">Fecha registro:<span class="text-danger">*</span></p>
                  <mat-form-field class="example-full-width" appearance="outline">

                    <input type="text" matInput formControlName="fecha_registro" autocomplete="off" spellcheck="false"
                      placeholder="Ingrese fecha de registro">

                    <!-- Validacion -->
                    <!-- Preguntamos si es invalido y si esta sucio o a sido tocado -->
                    <mat-hint
                      *ngIf="this.fecha_registro?.invalid && (this.fecha_registro?.dirty || this.fecha_registro?.touched)">
                      <!-- Errores con expresiones regulares -->
                      <div *ngIf="this.fecha_registro?.hasError('required')" class="animated fadeIn fast text-danger"
                        id="">
                        Este campo es requerido.
                      </div>

                    </mat-hint>
                  </mat-form-field>
                </div>
              </div>

              <!-- Seccion 3 -->
              <div class="row">
                <!-- Fecha expiración -->
                <div class="col-12 col-lg-4">
                  <p class="mb-0">Fecha expiración:<span class="text-danger">*</span></p>
                  <mat-form-field class="example-full-width" appearance="outline">

                    <input type="text" matInput formControlName="fecha_expiracion" autocomplete="off" spellcheck="false"
                      placeholder="Ingrese fecha de expiración">

                    <!-- Validacion -->
                    <!-- Preguntamos si es invalido y si esta sucio o a sido tocado -->
                    <mat-hint
                      *ngIf="this.fecha_expiracion?.invalid && (this.fecha_expiracion?.dirty || this.fecha_expiracion?.touched)">
                      <!-- Errores con expresiones regulares -->
                      <div *ngIf="this.fecha_expiracion?.hasError('required')" class="animated fadeIn fast text-danger"
                        id="">
                        Este campo es requerido.
                      </div>

                    </mat-hint>
                  </mat-form-field>
                </div>
              </div>

              <p class="text-right mt-3">Los campos con ( <span class="text-danger">*</span> ) son obligatorios</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger waves-effect text-left" data-dismiss="modal">Cancelar</button>
              <div *ngIf="this.btnSave; else notBtnSave" class="">
                <button type="submit" class="ms-2 btn btn-primary waves-effect" [disabled]="this.formulario.invalid">
                  Guardar
                </button>
              </div>

              <ng-template #notBtnSave>
                <button type="submit" class="ms-2 btn btn-primary waves-effect" [disabled]="this.notBtnSave">
                  <mat-spinner diameter="20"></mat-spinner>
                  <span class="ms-2">Guardando</span>
                </button>
              </ng-template>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
      </form>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
  </div>
</div>
<!-- Fin Modal crear usuarios -->

<!-- Modal editar RUIMS -->
<div class="card">
  <div class="card-body">
    <!-- sample modal content -->
    <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" style="display: none;"
      aria-hidden="true" id="myModal_editar_ruims">
      <form #formDirective="ngForm" [formGroup]="this.formularioModificar" class="ps-4 pt-4 pe-4 pb-0"
        (ngSubmit)="submitModificar()">
        <div class="modal-dialog modal-xl">
          <div class="modal-content">
            <div class="modal-header bg-danger contenedor-header">
              <h4 class="modal-title text-white text-uppercase" id="myLargeModalLabel">Formulario de registro de
                servidores publicos</h4>
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
              <h4 class="mb-4">Modificar datos</h4>
              <!-- Seccion 1 -->
              <div class="row">
                <!-- Nro. identificacion minera -->
                <div class="col-12 col-lg-4">
                  <p class="mb-0">Nro. id. minera:<span class="text-danger">*</span></p>
                  <mat-form-field class="example-full-width" appearance="outline">

                    <input type="text" matInput formControlName="nro_id_mineriaM" autocomplete="off" spellcheck="false"
                      placeholder="Ingrese nro. de identificación minera">

                    <!-- Validacion -->
                    <!-- Preguntamos si es invalido y si esta sucio o a sido tocado -->
                    <mat-hint
                      *ngIf="this.nro_id_mineriaM?.invalid && (this.nro_id_mineriaM?.dirty || this.nro_id_mineriaM?.touched)">
                      <!-- Errores con expresiones regulares -->
                      <div *ngIf="this.nro_id_mineriaM?.hasError('required')" class="animated fadeIn fast text-danger"
                        id="">
                        Este campo es requerido.
                      </div>
                      <div *ngIf="this.nro_id_mineriaM?.hasError('maxlength')" class="animated fadeIn fast text-danger"
                        id="">
                        Este campo solo acepta solo 20 letras.
                      </div>
                    </mat-hint>
                  </mat-form-field>
                </div>

                <!-- Sector -->
                <div class="col-12 col-lg-4">
                  <p class="mb-0">Sector:<span class="text-danger">*</span></p>
                  <mat-form-field class="example-full-width" appearance="outline">

                    <input type="text" matInput formControlName="sectorM" autocomplete="off" spellcheck="false"
                      placeholder="Ingrese la denominación de la empresa">

                    <!-- Validacion -->
                    <!-- Preguntamos si es invalido y si esta sucio o a sido tocado -->
                    <!-- Validacion -->
                    <!-- Preguntamos si es invalido y si esta sucio o a sido tocado -->
                    <mat-hint *ngIf="this.sectorM?.invalid && (this.sectorM?.dirty || this.sectorM?.touched)">
                      <!-- Errores con expresiones regulares -->
                      <div *ngIf="this.sectorM?.hasError('required')" class="animated fadeIn fast text-danger" id="">
                        Este campo es requerido.
                      </div>
                      <div *ngIf="this.sectorM?.hasError('pattern')" class="animated fadeIn fast text-danger" id="">
                        Este campo solo acepta letras.
                      </div>
                      <div *ngIf="this.sectorM?.hasError('maxlength')" class="animated fadeIn fast text-danger" id="">
                        Este campo solo acepta solo 50 letras.
                      </div>
                    </mat-hint>
                  </mat-form-field>
                </div>


                <!-- Actividad -->
                <div class="col-12 col-lg-4">
                  <p class="mb-0">Actividad:<span class="text-danger">*</span></p>
                  <mat-form-field class="example-full-width" appearance="outline">

                    <input type="text" matInput formControlName="actividadM" autocomplete="off" spellcheck="false"
                      placeholder="Ingrese la actividad de la empresa">

                    <!-- Validacion -->
                    <!-- Preguntamos si es invalido y si esta sucio o a sido tocado -->
                    <!-- Validacion -->
                    <!-- Preguntamos si es invalido y si esta sucio o a sido tocado -->
                    <mat-hint *ngIf="this.actividadM?.invalid && (this.actividadM?.dirty || this.actividadM?.touched)">
                      <!-- Errores con expresiones regulares -->
                      <div *ngIf="this.actividadM?.hasError('required')" class="animated fadeIn fast text-danger" id="">
                        Este campo es requerido.
                      </div>
                      <div *ngIf="this.actividadM?.hasError('maxlength')" class="animated fadeIn fast text-danger"
                        id="">
                        Este campo solo acepta solo 70 letras.
                      </div>
                    </mat-hint>
                  </mat-form-field>
                </div>
              </div>
              <!-- Seccion 2 -->
              <div class="row">
                <!-- Representante legal -->
                <div class="col-12 col-lg-4">
                  <p class="mb-0">Representante legal:<span class="text-danger">*</span></p>
                  <mat-form-field class="example-full-width" appearance="outline">

                    <input type="text" matInput formControlName="rep_legalM" autocomplete="off" spellcheck="false"
                      placeholder="Ingrese un rep. legal">

                    <!-- Validacion -->
                    <!-- Preguntamos si es invalido y si esta sucio o a sido tocado -->
                    <mat-hint *ngIf="this.rep_legalM?.invalid && (this.rep_legalM?.dirty || this.rep_legalM?.touched)">
                      <!-- Errores con expresiones regulares -->
                      <div *ngIf="this.rep_legalM?.hasError('required')" class="animated fadeIn fast text-danger" id="">
                        Este campo es requerido.
                      </div>
                      <div *ngIf="this.rep_legalM?.hasError('pattern')" class="animated fadeIn fast text-danger" id="">
                        Este campo solo acepta letras.
                      </div>
                      <div *ngIf="this.rep_legalM?.hasError('maxlength')" class="animated fadeIn fast text-danger"
                        id="">
                        Este campo solo acepta solo 12 digitos.
                      </div>
                    </mat-hint>
                  </mat-form-field>
                </div>

                <!-- Municipio -->
                <div class="col-12 col-lg-4">
                  <p class="mb-0">Municipio:<span class="text-danger">*</span></p>
                  <mat-form-field class="example-full-width" appearance="outline">

                    <input type="text" matInput formControlName="municipioM" autocomplete="off" spellcheck="false"
                      placeholder="Ingrese municipio">

                    <!-- Validacion -->
                    <!-- Preguntamos si es invalido y si esta sucio o a sido tocado -->
                    <mat-hint *ngIf="this.municipioM?.invalid && (this.municipioM?.dirty || this.municipioM?.touched)">
                      <!-- Errores con expresiones regulares -->
                      <div *ngIf="this.municipioM?.hasError('required')" class="animated fadeIn fast text-danger" id="">
                        Este campo es requerido.
                      </div>

                    </mat-hint>
                  </mat-form-field>
                </div>

                <!-- Fecha registro -->
                <div class="col-12 col-lg-4">
                  <p class="mb-0">Fecha registro:<span class="text-danger">*</span></p>
                  <mat-form-field class="example-full-width" appearance="outline">

                    <input type="text" matInput formControlName="fecha_registroM" autocomplete="off" spellcheck="false"
                      placeholder="Ingrese fecha de registro">

                    <!-- Validacion -->
                    <!-- Preguntamos si es invalido y si esta sucio o a sido tocado -->
                    <mat-hint
                      *ngIf="this.fecha_registroM?.invalid && (this.fecha_registroM?.dirty || this.fecha_registroM?.touched)">
                      <!-- Errores con expresiones regulares -->
                      <div *ngIf="this.fecha_registroM?.hasError('required')" class="animated fadeIn fast text-danger"
                        id="">
                        Este campo es requerido.
                      </div>

                    </mat-hint>
                  </mat-form-field>
                </div>
              </div>

              <!-- Seccion 3 -->
              <div class="row">
                <!-- Fecha de expiración -->
                <!-- Fecha expiración -->
                <div class="col-12 col-lg-4">
                  <p class="mb-0">Fecha expiración:<span class="text-danger">*</span></p>
                  <mat-form-field class="example-full-width" appearance="outline">

                    <input type="text" matInput formControlName="fecha_expiracionM" autocomplete="off"
                      spellcheck="false" placeholder="Ingrese fecha de expiración">

                    <!-- Validacion -->
                    <!-- Preguntamos si es invalido y si esta sucio o a sido tocado -->
                    <mat-hint
                      *ngIf="this.fecha_expiracionM?.invalid && (this.fecha_expiracionM?.dirty || this.fecha_expiracionM?.touched)">
                      <!-- Errores con expresiones regulares -->
                      <div *ngIf="this.fecha_expiracionM?.hasError('required')" class="animated fadeIn fast text-danger"
                        id="">
                        Este campo es requerido.
                      </div>

                    </mat-hint>
                  </mat-form-field>
                </div>

                <!-- Estado -->
                <div class="col-12 col-md-4">
                  <p class="example-margin mb-0">Estado:<span class="text-danger">*</span></p>
                  <mat-form-field appearance="outline" class="example-full-width">
                    <!-- <mat-label>Estado</mat-label> -->
                    <mat-select formControlName="estadoM">
                      <mat-option *ngFor="let estado of this.estados" [value]="estado.value">
                        {{estado.estado}}
                      </mat-option>
                    </mat-select>
                    <!-- Validacion -->
                    <!-- Preguntamos si es invalido y si esta sucio o a sido tocado -->
                    <mat-hint *ngIf="this.estadoM?.invalid && (this.estadoM?.dirty || this.estadoM?.touched)">
                      <!-- Errores con expresiones regulares -->
                      <div *ngIf="this.estadoM?.hasError('required')" class="animated fadeIn fast text-danger" id="">
                        Este campo es requerido.
                      </div>
                    </mat-hint>
                  </mat-form-field>
                </div>

              </div>

              <p class="text-right mt-3">Los campos con ( <span class="text-danger">*</span> ) son obligatorios</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger waves-effect text-left" data-dismiss="modal">Cancelar</button>
              <div *ngIf="this.btnSave; else notBtnSave" class="">
                <button type="submit" class="ms-2 btn btn-primary waves-effect"
                  [disabled]="this.formularioModificar.invalid">
                  Guardar
                </button>
              </div>

              <ng-template #notBtnSave>
                <button type="submit" class="ms-2 btn btn-primary waves-effect" [disabled]="this.notBtnSave">
                  <mat-spinner diameter="20"></mat-spinner>
                  <span class="ms-2">Guardando</span>
                </button>
              </ng-template>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
      </form>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
  </div>
</div>
<!-- Fin modal editar usuarios -->
