<div class="row p-2 animated fadeIn fast">
  <div class="col-12">
    <p class="m-b-0 font-text">Información de la cuenta de usuario</p>
    <h6 class="text-muted">{{ this.usuario.descripcion }}</h6>
  </div>
</div>

<div class="row justify-content-center animated fadeIn fast">
  <div class="col-lg-6 col-xlg-4">
    <div class="card perfil--sombra perfil--borde">
      <div class="card-body little-profile text-center">
        <div class="pro-img m-t-20"><img src="../assets/images/users/4.jpg" alt="user"></div>
        <h3 class="m-b-0">{{this.usuario.nombres}} {{this.usuario.apellidos}}</h3>
        <h6 class="text-muted">{{ this.usuario.usuario}}</h6>
        <ul class="list-inline soc-pro m-t-30">
          <li><a href="javascript:void(0)">
              <h6 class="text-muted">{{ this.usuario.descripcion }}</h6>
            </a></li>

        </ul>
      </div>
      <div class="text-center bg-light">
        <div class="row">
          <div class="col-12  p-20 b-r">
            <h4 class="m-b-0 font-medium">Administrador</h4><small>Perfil</small>
          </div>

        </div>
      </div>
      <div class="card-footer text-center">
        <a href="javascript:void(0)" (click)="abrirModal()"
          class="m-t-10 m-b-20 waves-effect waves-dark btn btn-success btn-md btn-rounded"><i class="fa fa-key"></i>
          Cambiar contraseña</a>
      </div>
    </div>
  </div>
</div>

<!-- Modal cambio de password -->
<app-modalpassword *ngIf="mostrarModal" [titulo]="'Mi título'" [mensaje]="'Mi mensaje'" (cerrarModal)="cerrarModal()">
</app-modalpassword>
