/* Angular material*/
.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  align-items: flex-start;
}

.example-radio-button {
  margin: 5px;
}

::ng-deep .mat-form-field-infix {
  border-top: 0.32375em solid rgba(0, 0, 0, 0) !important;
}

/* Fin Angular material*/

.table-header {
  background: linear-gradient(90deg, #1b232b 0%, #1f2831 35%, #2f3d4a 100%);
}

.table-header__encabezado th {
  font-size: 12px !important;
  color: #FFFFFF;
  padding: 15px;
}

.table-cuerpo__datos {
  font-size: 14px !important;
}
