/* You can add global styles to this file, and also import other style files */
@import '~ngx-toastr/toastr';


/* Acelerando las animaciones */
.fast {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both
}

.font-text {
  font-size: 25px;
}

/* Modal */
.mi-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.mi-modal-header {
  font-weight: bold;
}

.mi-modal-footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}

.with-ancho {
  width: 40%;
}

/* FIN Modal */
